* {
    margin: 32;
    padding: 32;
    box-sizing: 0;
    background-color: darkgreen;
    color: beige;
}

.hero-image {
    width: 960px;
    margin: 24px;
    display:flex;
    justify-content:center;
}

.estate-list {
    margin: 24px;
}