* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    color:beige;
}

header {
    border: 5px solid gold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    border: 3px solid beige;
    margin: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    border: 5px dashed darkgoldenrod;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 24px;
}

.centertext {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 24px;
}

section {
    border: 8px dashed;

}

footer {
    border: 5px dashed darkgreen;
}