* {
  margin: 24px;
  padding: 8px;
}

body {
  display: grid;
  grid-template-columns: 5% 75% 20%;
  /* grid-template-columns: 1fr 5fr 4fr 4fr 5fr 1fr; */
  /* grid-template-rows: 12rem 48rem 16rem; */
  /* grid-column-gap: 16px; */
  grid-row-gap: 12px;
}

main {
  margin-left: 8px;
  margin-right: 48px;
  padding-right: 128px;
}

.sourcingethics h2 {
  font-size: 2.5rem;
}
